a {
  color: #F8F9FA;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  /* color: #343A40; */
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.additional-dark:hover{
  color: #343A40;
  background-color: #F8F9FA;
  border: #F8F9FA;
}

.additional-light:hover {
  background-color: #343A40;
  color: #F8F9FA;
  border: #343A40;
}

.bottom-h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
  padding-top: 3rem;
  padding-left: 20rem;
  padding-right: 20rem;
}

.carousel-item {
  padding: 4% 8%;
}

.col-sm-12 {
  margin: 5rem auto;
}

.container-fluid {
  padding: 3% 15%;
  margin-right: 0;
}

.cta {
  color: #F8F9FA;
  background-color: #ff4c68;
  text-align: center;

}

.download-btn {
  margin: 5% 3% 5% 0;
}

.feat-icons {
  color: #ef8172;
  font-size: 5rem;
  margin-bottom: 2rem;
}

.feat-icons:hover {
  color: #ff4c68;
}

.features {
  margin-bottom: 5rem;
  margin-top: 5rem;
  margin-right: 0;
  text-align: center;
}

.feature-txt {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
}

.feature-desc {
  color: #8f8f8f;
  width: 50%;
  margin: auto;
}

.footer-sec {
  color: #D3D0CD;
  padding-top: 5rem;
  text-align: center;
}

.footer-icons {
  padding: 2rem 0.5rem;
  color: #183153;
}

@media (max-width: 1024px) {
  #title{
    text-align: center;
  }
  .title-img {
    transform: rotate(0);
  }
}

.navbar {
  padding: 0 0 1.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%
}

.pricing-btn:hover {
  color: #343A40;
  background-color: #F8F9FA;
}

.pricing-column {
  padding: 3% 2%;
}

.testimonial-img {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

.title-img {
  margin-left: 9.5rem;
  transform: rotate(25deg);
  width: 50%;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

#pricing {
  padding: 100px;
  text-align: center;
}

#testimonials {
  background-color: #ef8172;
  color: #F8F9FA;
  text-align: center;
}

#title {
  background-color: #ff4c68;
  color: #F8F9FA;
}
